# filebeat.yml.j2

filebeat.config.modules:
  path: /etc/filebeat/modules.d/*.yml
  reload.enabled: true
  reload.period: 10s

output.elasticsearch:
  hosts: 
    - "http://{{ elasticsearchkibana_host }}:9200"
  setup.dashboards:
    enabled: true
  kibana:
    host: "{{ elasticsearchkibana_host }}:5601"

filebeat.modules:
  - module: system
    syslog:
      enabled: true
    auth:
      enabled: true

  - module: nginx
    access:
      enabled: true
      var.paths: ["/var/log/nginx/access.log"]
    error:
      enabled: true
      var.paths: ["/var/log/nginx/error.log"]

